
div#start-page {
	width:100%; 
	height:100%;	
}

img#logo {
	margin-left:auto; 
	margin-right: auto; 
	display: block;
}

a#getInfoButton {
	width: 20%; 
	margin-left:auto; 
	margin-right: auto; 
	margin-top: 100px;
}
