/* page background */
div#detail-page {
	width:100%; 
	height:100%;
}

/* popups */
div#item-info-popups {
	width: 400px;
}

td.item-type {
	text-align: left; 
	font-size: 12;
}

td.item-main-attr {
	font-size: 16;
}

td.item-second-attr {
	margin: auto; 
	font-size: 14;
}

td.item-second-attr-center {
	margin: auto; 
	font-size: 14;
	text-align: center;
}

/* hero attribute */
td.attr-label {
	color: #A99877;
}

td.attr {
	color: #F3E6D0;
}

/* skills view */
b.skill_name {
	color: #F3E6D0;
	font-size: 18;
}

b.rune_name {
	color: #5A5E45;
	font-size: 14;
}

/* item image */
img#bracers {
	position:absolute;
	top:127px;
	left:222px;
	width:63px;
	height:84px;
}

img#feet {
	position:absolute;
	top:322px;
	left:115px;
	width:62px;
	height:85px;
}

img#hands {
	position:absolute;
	top:127px;
	left:7px;
	width:63px;
	height:84px;
}

img#head {
	position:absolute;
	top:6px;
	left:115px;
	width:62px;
	height:62px;
}

img#leftFinger {
	position:absolute;
	top:227px;
	left:18px;
	width:39px;
	height:38px;
}

img#legs {
	position:absolute;
	top:231px;
	left:115px;
	width:63px;
	height:84px;
}

img#mainHand {
	position:absolute;
	top:280px;
	left:6px;
	width:64px;
	height:129px;
}

img#mainHand {
	position:absolute;
	top:280px;
	left:6px;
	width:64px;
	height:129px;
}

img#neck {
	position:absolute;
	top:49px;
	left:199px;
	width:50px;
	height:50px;
}

img#offHand {
	position:absolute;
	top:280px;
	left:223px;
	width:63px;
	height:127px;
}

img#rightFinger {
	position:absolute;
	top:227px;
	left:235px;
	width:38px;
	height:39px;
}

img#shoulders {
	position:absolute;
	top:28px;
	left:32px;
	width:63px;
	height:84px;
}

img#torso {
	position:absolute;
	top:74px;
	left:106px;
	width:80px;
	height:110px;
}

img#waist {
	position:absolute;
	top:193px;
	left:107px;
	width:78px;
	height:29px;
}


/* class image */
img#barbarian_0 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -293px 0px;
}

img#barbarian_1 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat 0px 0px;
}

img#demon-hunter_0 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -879px 0px;
}

img#demon-hunter_1 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -586px 0px;
}

img#monk_0 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -1465px 0px;
}

img#monk_1 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -1172px 0px;
}

img#witch-doctor_0 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -293px -423px;
}

img#witch-doctor_1 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat 0px -423px;
}

img#wizard_0 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -879px -423px;
}

img#wizard_1 {
	float:left;
	width:293px;
	height:423px;
	background:url('../img/ClassEquipUI.png') no-repeat -586px -423px;
}