
div#herolist-page {
	width:100%; 
	height:100%;
	background-image: url('../img/artwork-0024-large.jpg'); 
	background-repeat:no-repeat; 
	background-size:100% 100%; 
	background-position:center;	
}

li#list-item {
	height: 80px;
	margin:auto;
}

h3#hero_name {
	font-size: 24;
	font-weight:bold;
	color: D96500;
	margin:auto;
}

b#hero_level {
	font-size: 24;
	font-weight:bold;
	color: A99877;
	margin:auto;
}

b#hero_paragon {
	font-size: 20;
	font-weight:bold;
	color: 55B9FF;
	margin:auto;
}

img {
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
}

img#barbarian_0 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat 0 0;
}

img#barbarian_1 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat -83 0;
}

img#demon-hunter_0 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat 0 -66;
}

img#demon-hunter_1 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat -83 -66;
}

img#monk_0 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat 0 -132;
}

img#monk_1 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat -83 -132;
}

img#witch-doctor_0 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat 0 -198;
}

img#witch-doctor_1 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat -83 -198;
}

img#wizard_0 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat 0 -264;
}

img#wizard_1 {
	float:left;
	width:83px;
	height:66px;
	background:url('../img/hero-nav-portraits.jpg') no-repeat -83 -264;
}


